$font-size:(
    xs: 0.5em,
    s: 0.7em,
    xm: 0.85em,
    m: 1em,
    ml: 1.250em,
    x: 1.50em,
    xl: 1.750em,
    xxl: 2em,
    xxxl: 2.3em
);

$color:(
  black: #0E0A17,
  pinkLight: #FEF4F4,
  greenDark: #81C452,
  greenGradient: linear-gradient(90deg, #56AB2F 0%, rgba(168, 224, 99, 0.8) 58.25%, #DCE35B 103.06%),
  greenLight: #BCE276,
  yellow: #FFE521
);