@import 'variables';
@import 'mixins';

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background-color: map-get($color, black);
}

// componente Nav
.container-logo{
  display: inline-block;
}

.logo{
  width: 100%;
  @include breakpoint(500px) {
    width: 80%;
  }
  @include breakpoint(1000px) {
    width: 100%;
  }
  @include breakpoint(1100px) {
    margin-left: -20%;
  }
  @include breakpoint(1200px) {
    margin-left: -70%;
  }
  @include breakpoint(1900px) {
    margin-left: -100%;
  }
  @include breakpoint(2100px) {
    margin-left: -200%;
  }
}

header{
  @include breakpoint(700px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}

nav{
  @include breakpoint(700px) {
    text-align: right;
  }
  & a {
    color: map-get($color,pinkLight);
    margin: 0 4px;
    font-size: map-get($font-size,xs);
    transition: all ease-in; 
    padding: 0.4rem;
    &:hover, &:focus{
      background: map-get($color, greenDark);
      color: map-get($color,pinkLight);
      border-radius: 30px;
      font-weight: bold;
    }
    @include breakpoint(400px) {
      margin: 0 6px;
      font-size: map-get($font-size,s);
    }
    @include breakpoint(500px) {
      font-size: map-get($font-size,m);
    }
    @include breakpoint(700px) {
      font-size: map-get($font-size,x);
    }
    @include breakpoint(1000px) {
      font-size: map-get($font-size,xxl);
    }
    @include breakpoint(1400px) {
      font-size: map-get($font-size,xxxl);
    }
    @include breakpoint(1700px) {
      font-size: map-get($font-size,xxxl);
      margin: 0 70px;
    }
  }
}


// COMPONENTE HOME
.container-home{
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  & h2{
    color: map-get($color, pinkLight);
    font-size: map-get($font-size,ml);
    text-align: left;
    @include breakpoint(700px) {
      font-size: map-get($font-size,x);
    }
    @include breakpoint(900px) {
      font-size: map-get($font-size,xl);
    }
    @include breakpoint(1000px) {
      font-size: map-get($font-size,xxxl);
    }
  }
  & .text-white{
    color: map-get($color, pinkLight);
    font-size: map-get($font-size,s);
    @include breakpoint(400px) {
      margin: 2px 0px;
      font-size: map-get($font-size,m);
    }
    @include breakpoint(700px) {
      margin: 7px 0px;
      font-size: map-get($font-size,ml);
    }
    @include breakpoint(900px) {
      font-size: map-get($font-size,x);
    }
    @include breakpoint(1000px) {
      font-size: map-get($font-size,xxl);
    }
  }
  & .text-green{
    color: map-get($color, greenLight);
    font-size: map-get($font-size,s);
    @include breakpoint(400px) {
      margin: 2px 0px;
      font-size: map-get($font-size,m);
    }
    @include breakpoint(700px) {
      margin: 7px 0px;
      font-size: map-get($font-size,ml);
    }
    @include breakpoint(900px) {
      font-size: map-get($font-size,x);
    }
    @include breakpoint(1000px) {
      font-size: map-get($font-size,xxl);
    }
  }
  & .container-icons{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: map-get($color, greenLight) 1px solid;
    padding: 5px;
    width: 80%;
    @include breakpoint(400px) {
      margin: 15px 0;
    }
    @include breakpoint(1000px) {
      height: 100px;
    }
    & img {
      // padding: 10px 0;
      width: 100%;
      @include breakpoint(1000px) {
        height: 100%;
      }
    }
  }
}

// para img de la portada
.cover-page{
  width: 80%;
  display:block;
  margin:auto;
  margin-bottom: 40px;
}

//animación para flecha

// COMPONENTE ABOUTME
.container-aboutme{
  width: 80%;
  margin: auto;
  & h2{
    color: map-get($color,pinkLight);
    font-weight: bold;
  }
  & .content-description{
    color: map-get($color,pinkLight);
    font-size: map-get($font-size, ml);
  }
  & .text-yellow{
    color: map-get($color,yellow);
  }
  & .badge-stack{
    color: map-get($color,greenLight);
    font-size: map-get($font-size, x);
    text-align: center;
    border: 1px solid map-get($color,greenLight);
    border-radius: 18px;
    box-sizing: border-box;
    width: 70%;
    margin: 20px auto;
    padding: 10px 0;
  }
  & .container-stack{
    border: 1px solid map-get($color,greenLight);
    margin: 30px 0;
    padding: 15px;
    & .text-stack{
      color: map-get($color,pinkLight);
      font-size: map-get($font-size, xm);
      font-weight: bold;
      @include breakpoint(410px) {
        margin: 15px 0;
      }
      @include breakpoint(620px) {
        margin: 18px 0;
      }
      @include breakpoint(750px) {
        margin: 7px 0;
        font-size: map-get($font-size, m);
      }
      @include breakpoint(950px) {
        margin: 9px 0;
      }
      @include breakpoint(1000px) {
        margin: 12px 0;
      }
      @include breakpoint(1200px) {
        margin: 8px 0;
        font-size: map-get($font-size, ml);
      }
      @include breakpoint(1500px) {
        margin: 8px 0 8px 15px;
      }
      @include breakpoint(2000px) {
        margin: 8px 0 8px 25px;
      }
    }
    & .img-stack{
      @include breakpoint(410px) {
        margin-right: 2px;
      }
      @include breakpoint(1200px) {
        margin-right: 8px;
      }
      @include breakpoint(1500px) {
        margin-right: 25px;
      }
    }
  }
  & .ant-image-img{
    border-radius: 50px;
    border: map-get($color, greenLight) 4px solid;
    @include breakpoint(770px) {
      height: 400px;
    }
  }
  & button{
    color: map-get($color,pinkLight);
    background-color: map-get($color,greenDark);
    font-weight: bold;
    border-radius: 12px;
  }
  .content-img{
    @include breakpoint(768px) {
      margin: 50px auto;
      text-align: right;
      }
    @include breakpoint(1100px) {
      margin-right: 20px;
      }
    @include breakpoint(1300px) {
      margin-right: 80px;
      }
  }
  .content-btn-profile{
    @include breakpoint(768px) {
      margin-left: 25%;
      }
    @include breakpoint(900px) {
      margin-left: 30%;
      }
    @include breakpoint(1000px) {
      margin-left: 40%;
      }
    @include breakpoint(1101px) {
      margin-left: 50%;
      }
    @include breakpoint(1200px) {
      margin-left: 40%;
      }
    @include breakpoint(1300px) {
      margin-left: 20%;
      }
    @include breakpoint(1400px) {
      margin-left: 30%;
      }
    @include breakpoint(1550px) {
      margin-left: 38%;
      }
  }
}






/* body{
  @include roboto-regular(map-get($color,black),map-get($font-size,m));
  background-image: url('../assets/img/background-stars.jpg');
}
.backgroundHome__image{
  width: 100%;
}
a {
  color: map-get($color,white);
  text-decoration: none;
  margin: 10px;
  font-size: map-get($font-size,ml);
  @include breakpoint(700px) {
    margin: 10px 30px;
    font-size: map-get($font-size,xxl);
  }
}
*/